<mat-card>
    <mat-card-title>
        Simple substitution chipher
    </mat-card-title>
    <mat-card-subtitle>
        Break simple substitution chiphers
    </mat-card-subtitle>
    <mat-card-content>
        <table>
            <tbody>
                <tr><th>Atbash (Reverse alphabet)</th><td>{{atbash}}</td></tr>
                <tr><th>Caesar</th><td>{{caesar}}</td></tr>
                <!-- <tr><th>Fibonacci</th><td>{{fibonacci}}</td></tr>-->
            </tbody>
        </table>
    </mat-card-content>
</mat-card>