<mat-accordion *ngIf="input.length>8">
    <mat-expansion-panel (opened)="showSubstitution = true; ngOnChanges();" (closed)="showSubstitution = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Simple substitution chipher
            </mat-panel-title>
            <mat-panel-description>
                Break simple substitution chiphers
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Assuming original alphabet is English, A-Z, spaces not substituted.</p>
        <div style="overflow-y: auto">
            <table>
                <thead>
                    <tr>
                        <th>Cipher</th>
                        <th>Key</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Atbash</th>
                        <td>Reverse alphabet</td>
                        <td>{{atbash}}</td>
                    </tr>
                    <tr>
                        <th>Caesar</th>
                        <td>{{caesar.key}}</td>
                        <td>{{caesar.result}}</td>
                    </tr>
                    <!-- <tr><th>Fibonacci</th><td>{{fibonacci}}</td></tr>-->
                </tbody>
            </table>
            <h3>Do it yourself</h3>
            <table class="solver">
                <tr>
                    <th>Alphabet</th>
                    <td *ngFor="let a of alphabet">{{a}}</td>
                </tr>
                <tr>
                    <th>Substitution</th>
                    <td *ngFor="let s of substitution; let i = index; trackBy: customTrackBy"><input
                            [(ngModel)]="substitution[i]" (change)="onSubstitutionChange()" /></td>
                </tr>
                <tr>
                    <th>Index</th>
                    <td *ngFor="let s of substitution, let i = index">{{i}}</td>
                </tr>
                <tr>
                    <td style="height: 5px;"></td>
                </tr>
                <tr>
                    <th>Crypto</th>
                    <td *ngFor="let c of crypto">{{c}}</td>
                </tr>
                <tr>
                    <th>Plaintext</th>
                    <td *ngFor="let p of plaintext; let i = index; trackBy: customTrackBy">
                        <input [ngClass]="{'changed' : plaintext[i] !== crypto[i]}" *ngIf="p!==' '"
                            name="{{'plain_'+i}}" [(ngModel)]="plaintext[i]" (keyup)="onPlaintextKeyUp($event, i)" />
                    </td>
                </tr>
            </table>
            <button mat-stroked-button color="warn" type="button" style="margin-right:5px"
                (click)="reset()">Reset</button>
            <button mat-stroked-button type="button" (click)="getSugestions()">Get sugestions</button>
            <table>
                <tr *ngFor="let sugestion of sugestions | keyvalue:keepOriginalOrder">
                    <th>{{sugestion.key}}</th>
                    <td>
                        <button mat-button *ngFor="let val of sugestion.value"
                            (click)="useSugestion(sugestion.key,val)">{{val}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>